{% extends 'base.html.twig'%}

{% block body %}
    <div class="container mt-4"> 
        <h1>{{ entreprises.nomEntreprise }}</h1>
        <h4>Competences :</h4>
        <label for="Description">Description</label>
        <p>offre.description | nl2br</p>
        <label for="Location">Location</label>
        <p>ssssss</p>
        <a href="#" class="btn btn-dark">Contacter l'offre<a>
    </div>
{% endblock %}