{% extends 'base.html.twig'%}

{% block body %}
    <div class='text-center' style='margin-top: 3%;'>
        <h1>offre id {{offre.idOffre}} :</h1>
    </div>
    {{ include('admin/FormOffre.php.twig', {form: form, button:'Modifier'}) }}
{% endblock %}