{% extends 'base.html.twig'%}

{% block body %}
    <div class='text-center' id='margT3'>
        <h1>Compte id {{Utilisateur.idUtilisateur}} :</h1>
    </div>
    {{ include('admin/FormCompte.php.twig', {form: form, button:'Modifier'}) }}
{% endblock %}
