

#CadreColor {
    background-color:lightgray;
}

#CadreContact {
    background-color:lightgray;
}

#GitHubColor {
    background-color: #333333;
}

#LinkedinColor {
    background-color: #0082ca
}

#InstagramColor {
    background-color: #ac2bac;
}

#FacebookColor {
    background-color: #3b5998;
}

#TwitterColor {
    background-color: #55acee;
}

#GoogleColor {
    background-color: #dd4b39;
}